<br>
<br>
<br>
<br>
<br>
<br>

<p>
  <strong>Name:</strong>
  <%= @list.name  %>
</p>

<% if @list.list_items %>
<strong>To Do:</strong>
<%= render "list_item_form" %>
<ul id = "list_items">
<%@list.list_items.each do | li |%>
<li  id="list_item_<%="#{li.id}"%>">
  <%= li.to_do %> <%= link_to 'Done', {controller: 'list_items', action: 'destroy', id: li.id }, remote: true  %>
</li>
<%end%>
</ul>
<%end%>


<%= link_to 'Edit', edit_list_path(@list) %> |
<%= link_to 'Back', lists_path %>
