<div class="signup_form_header">
<h2>Busy Bee Sign Up</h2>
</div>
<div class="signup_form">
<%= form_for @user, url: {action: "create"} do | f | %>
  <% if @user.errors.any? %>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <% end %>

    <%= f.text_field :username, placeholder: "pick a username" %>

    <%= f.text_field :email, placeholder: "what's your email address?" %>
    <%= f.password_field :password, placeholder: "pick a password" %>
    <%= f.password_field :password_confirmation, placeholder: "confirm password" %>
    <div style="text-align:center;padding-bottom:20px;"><%= submit_tag("Sign up!") %></div>
<% end %>
</div>
