<!DOCTYPE html>
<html>
  <head>
    <title>Busy Bee</title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
     <div id='menu'>
      <ul>
        <li>
          <a href="/" style="color:white">BUSY BEE</a>
        </li>
        <li>
          <a href="/about" style="color:white">about</a>
        </li>
          <% if @current_user %>
        <li>
          <a href="/lists" style="color:white" >lists</a>
            <ul>
              <% @current_user.lists.last(5).each do | list | %>
                <li><%= link_to list.name, list %></li>
              <% end %>
              <li style="font-weight: bold"><%= link_to "see all your lists", "/lists" %> </li>
            </ul>
        </li>
          <% end %>
        <li>
          <% if @current_user %>
            <a href="/signout" style="color:white">sign out</a>
          <% else %>
           <a href="/signin" style="color:white">sign in</a>
          <% end %>
        </li>
      </ul>
    </div>

    <% if notice %>
    <div class="notice"><%= notice %></div>
    <% end %>
    <%= yield %>
    <%= image_tag "/images/bee_logo3.png" %>
  </body>
</html>
